{% extends "base.html" %}

{% load static %}

{% block title %}
    Items list
{% endblock  %}

{% block style %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock  %}

{% block content %}
    {{ block.super }}

    <h2> Список товаров</h2>
    
    <div class="items">
        {% for item in items %}
        <div class="item">
            <a href="{% url "item-detail" item.id %}">
                <p class = "item_name">{{ item.name }}</p>
                <p> Бренд: {{ item.brand }}</p>
                <p> Описание товара:</p> 
                <p> {{ item.description }} </p>
             </a>
        </div>
        {% endfor %}
    </div>

{% endblock  %}